body {
    
    margin:auto;
    width:350px;
    height:100%;
    overflow-y:scroll;
}


.menu {
    
    background-color: #252a3a;
    padding-top:10px;
    padding-bottom:15px;  
    
}

/*.menu:hover{
    height:100%;  
    display:block;
    
}*/
.menu p{
    
   
    color:rgb(34, 146, 180);
    
}




.reszta_menu{
    color:white;
    margin-left: 20px;
    text-decoration: none;
}
 ul {
    list-style-type: square;
    font-size:16px;

}
#przycisk{
    outline:none;
    border:none;
    color:cornflowerblue;
    background:none;
    padding-left: 300px;

}
#Compose {
    border-radius:20px;
    padding: 8px;
    margin: 16;
    background-color: #1B98F8;
    border: none;
    color: white;
    width: 120px;
    margin-left:115px;

}

.wiadomosci {
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 5fr;
    border-bottom: 1px solid rgb(212,212,212);
    
}

.blue {
    background-color: white;
    display:grid;
    grid-template-columns: 1fr 5fr;
    border-bottom: 1px solid rgb(212,212,212);   
    border-left: solid 6px #1B98F8;
}
.wiadomosci:hover {
    background-color: #eee;
}

.tresc {
    color:black;
}

.avatar {
    width:42px;
    height:42px;
    border-radius: 3px;
    margin-right:8px;
    margin-top: 20px;
    margin-left:10px;
}
.imie {
    font-size: 13px;
    color:#999;
    text-transform: uppercase;
    border-bottom: 0px;
}
.maile {
    border-bottom: 1px solid rgb(212,212,212);
    display: grid;
    grid-template-columns:50% 50%; 
}


    

#tytul {
   color:black;
   font-size: 32px;
}
.przyciski {
    margin-top:6px;
    margin-bottom:26px;
    color: #666;
    border-radius:20px;
    background-color: white;
    border: solid 1px #666;
    width:70px;
    
    
}
#przyciski {
    display: flex;
    flex-direction:row-reverse;
    margin-right:10px;
   
    
    
}
#info {
    font-size:16px;
    color:black;
}
.from {
    color: #1b90f8;
}
.tresci {
    font-size:16px;
   
    margin-left:10px;
}



@media screen and (min-width: 960px) {
    body {
      
      width: 100%;
      display:grid;
      grid-template-columns: 10% 90%;
      overflow:none;  
      border-bottom: 1px solid rgb(212,212,212);
      height:900px;
    }

    main {
        display:grid;
        grid-template-columns: 20% 80%;
        
    }
    
    .mails {
        
        border-left: 1px solid rgb(212,212,212);
        
    }
   
  #przycisk{
      display:none;
  }

  #Compose {
      margin-left:30px;
  }
}

@media screen and (min-width: 960px) and (max-height: 600px){
    main {
        display:grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
       
    }
    
}
