body{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 1000px;
    margin: 0 auto;
}

.header-bar{
    height: 5px;
    background-color: #242e30;
    width: 100%;

}

.nav-bar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
}

.logo{
    width: 50%;
}

.nav{
    width: 50%;
    text-align: right;
    margin: auto;
}

.nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #6CB3D1;
    margin-left: 30px;
}

.title{
    text-align: center;
    padding: 60px 30px;
}

.title h1{
    text-align: center;
    font-weight: 200;
    color: #6CB3D1;
    margin: 0 10px;
}

.con{
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding: 35px;
}

.text{
    width: 50%;
    padding: 0 10px;
}

.text span p{
    font-weight: bold;
}

.circles{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

.circle{
    display: flex;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    width: 200px;
    height: 200px;
    margin: -20px;
    background-color: #6CB3D2;
    opacity: .7;
    border-radius: 50%;
}

.circle:hover{
    opacity: 1;
    cursor: pointer;
}

.idk{
    display: flex;
    justify-content: inherit;
}

.idkfr{
    width: 50%;
    font-size: .9rem;
}

.idkfr h2 {
    border-bottom: solid 2px #CCCCCC;
    padding:  10px 0;
    margin:  10px 10px;
}

.idkfr ul{
    list-style: none;
    padding: 0 10px;
}

.idkfr p{
    padding: 0 10px;
}

.footer{
    text-align: center;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    color: #fff;
    height: 200px;
    background-color: #242e30;
    background-image: url(zabek.jpg);
    background-repeat: repeat-x;
}