body {
    margin:0;
    background-color: #f3f4f5; 
    }
    .logo img {
        width:131px;
        height:52px;
    }
    main {
        margin-left:300px;
        margin-right:300px;
    }
    
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
      }
      
      .nav a {
          
          font-size: 20px;
          padding: 0.3em 1.2em;
          border-radius: 3px;
      } 
      .active {
          background-color: #ffc000;
      } 
      .nav a:hover {
          background-color: #646d72;
      }

      .wrapper-clearfix {
        display:grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid #cad2d7;
        margin-left:300px;
        padding-top:50px;
        padding-bottom:30px;
        margin-right:300px;
      }

      .style1 {
          display: grid;
          grid-template-columns: 1fr 2fr;
          border-bottom: 1px solid #cad2d7;
          
        }
        
        
       .text h1 {
           font-size: 36px;
           color:#2d3438;
       }

       .lead {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size:24px;
       }

       .more {
        padding: 5px 0px 8px 22px;
        
       }
      
      
      .gallery {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          justify-items: end;
      }
       
    
          
      
      .photos img {
          width:336px;
          height:200px;
          margin-top: 16px;
          margin-bottom:16px;
          border:6px solid #fff;
      }
      .style2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid #cad2d7;
        justify-items: end;
      }
      .bigphoto img {
          width: 860px;
          height:425px;
          margin-top: 16px;
          margin-bottom:16px;
          border:6px solid #fff;
      }
    
      .style3 {
          display:grid;
          grid-template-columns: 1fr 2fr;
      }

      .main-wrapper-clearfix {
        display:grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid #cad2d7;
        font-size: 5px;
        color: #9fa6aa;
        padding-top:50px;
        padding-bottom:50px;
        margin-top: 20px;
        margin-left:300px;
        margin-right:300px;
    }
    
    .foot-left{
        font-size: 14px;
        
    }
    
    .foot-right {
        justify-self: end;
        
    }
    
    .social {
        filter: invert(90%);
        width:31px;
        height:31px;
    }
    

    /* burger */ 

.burger-menu {
    display:none;
  }
  
  .burger-menu {
    background-color: #f3f4f5; 
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
    color:#2d3438;
  }
  
  .burger-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #f3f4f5; 
    
  }
  
  .burger-menu li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .burger-menu li a:hover,
  .burger-menu .menu-btn:hover {
    background-color: #f3f4f5; 
  }
  
  .burger-menu .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .burger-menu .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  .burger-menu .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .burger-menu .menu-icon .nav-icon {
    background: #2d3438;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .burger-menu .menu-icon .nav-icon:before,
  .burger-menu .menu-icon .nav-icon:after {
    background: #2d3438;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .burger-menu .menu-icon .nav-icon:before {
    top: 5px;
  }
  
  .burger-menu .menu-icon .nav-icon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .burger-menu .menu-btn {
    display: none;
  }
  
  .burger-menu .menu-btn:checked ~ .menu {
    max-height: 400px;
  }
  
  .burger-menu .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  
  .burger-menu .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }
  
  .burger-menu .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }
  
  @media all and  (max-width:768px) {
  
   
   
   
    body {
        margin: 0 auto;
        width:100%;
    }
  
    main {
      margin:0;
    }
  
    .wrapper-clearfix {
      display:none;
      margin:0;
    }

    
  
    .burger-menu {
      display:block;
    }

    .style1 {
        display:block;
    }

    .gallery {
        display:block;
    }

    .gallery img {
        width:100%;
    }

    .style2 {
        display:block;
    }

    .gallery2 {
        display:block;
    }

    .gallery2 img {
        width:100%;
    }

    .style3 {
        display:block;
    }

    .gallery3 {
        display:block;
    }

    .gallery3 img {
        width:100%;
    }

    .clearfix {
        margin:0;
        display:block;
    }
    .main-wrapper-clearfix {
        grid-template-columns: 1fr;
        margin:0;
        justify-content: center;
        
    }


  .foot-left{
    justify-self: center;
      
    }
    
    .foot-right {
      justify-self: center;
      padding-top:10px;
    }
}

@media all and  (min-width:768px) and (max-width:1440px) {

    

    .main-wrapper-clearfix {
        margin:10px;
      
    }

  main {
      margin: 10px;
  }  



.wrapper-clearfix {
    margin:10px;
}
}

